# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*.tmp

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log
